<% include parts/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>Welcome!</h1>
                    <p>This a example to use NodeJS and ExpressJS <br> This example shows how to make a small server, inserting and reading user notes stored in a json file</p>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/img/nodejs-index.png" class="img-responsive" alt="Cinque Terre">
                        </div>
                        <div class="col-md-6">
                            <img src="/img/Expressjs.png" class="img-responsive" alt="Cinque Terre">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>The technology used</h3>
                <ul>
                    <li><a href="https://nodejs.org/en/">Node.js</a> Javascript runtime</li>
                    <li><a href="http://expressjs.com/">Express</a> Freamwork for Node.js</li>
                    <li><a href="http://ejs.co/">EJS</a> for render the page</li>
                    <li><a href="http://www.json.org/json-en.html">Json</a> to store the data</li>
                    <li><a href="https://www.npmjs.com/">NPM</a> Package manager</li>
                    <li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a> for front end framework</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>The features</h3>
                <ul>
                    <li>A pretty layout</li>
                    <li>Note add functionality</li>
                    <li>View the notes</li>
                    <li>Render pages with EJS</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>The Creator</h3>
                <ul>
                    <li><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/jafg1222" target="_blank">@jafg1222</a></li>
                </ul>
            </div>
        </div>
        <% include parts/footer.ejs %>